#include <zephyr/dt-bindings/pinctrl/esp-pinctrl-common.h>
#include <zephyr/dt-bindings/pinctrl/esp32s3-pinctrl.h>
#include <zephyr/dt-bindings/pinctrl/esp32s3-gpio-sigmap.h>

/ {
	aliases {
		lora0 = &sx1278;
	};
};

&spi2 {
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";

	sx1278: sx1278@0 {
		compatible = "semtech,sx1276";
		reg = <0>;
		dio-gpios = <&gpio0 46 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
		spi-max-frequency = <8000000>;
		power-amplifier-output = "pa-boost";
	};
};

&pinctrl {
	spim2_default: spim2_default {
		group1 {
			pinmux = <SPIM2_MOSI_GPIO11>, // MOSI
					 <SPIM2_MISO_GPIO13>, // MISO
					 <SPIM2_SCLK_GPIO12>, // SCK
					 <SPIM2_CSEL_GPIO10>; // NSS (CS)
		};
	};
};