#include <st/wl/stm32wl55jcix-pinctrl.dtsi>

/ {
    aliases {
        bme280-i2c = &i2c2;
    };
};

&i2c2 {
    pinctrl-0 = <&i2c2_scl_pa12 &i2c2_sda_pa11>;
    pinctrl-names = "default";
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    bme280@76 {
        compatible = "bosch,bme280";
        reg = <0x76>;
        status = "okay";
    };
};
